<!DOCTYPE html>
<html lang="en">

<head>
<title>Product</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/users/images/icons/favicon.png" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/vendor/slick/slick.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/users/css/util.css">
<link rel="stylesheet" type="text/css" href="/users/css/main.css">
<!--===============================================================================================-->
<style>
	/* .parent-container {
		display: flex;
		flex-direction: column;
	}

	.isotope-grid::after {
		content: "";
		display: table;
		clear: both;
	} */

	.isotope-grid {
		display: flex;
		flex-wrap: wrap;
		/* Allows products to wrap to new lines */
		gap: 20px;
		/* Adjust spacing between products */
		justify-content: flex-start;
		/* Align products to the start */
		height: auto;
		/* Adjust height based on content */
	}

	.isotope-item {
		margin-bottom: 30px;
		/* Add spacing below each product */
		flex: 1 1 calc(25% - 20px);
		/* Ensure 4 products per row with spacing */
		max-width: calc(25% - 20px);
		/* Consistent width with spacing */
	}

	@media (max-width: 992px) {
		.isotope-item {
			flex: 1 1 calc(33.33% - 20px);
			/* 3 products per row */
			max-width: calc(33.33% - 20px);
		}
	}

	@media (max-width: 768px) {
		.isotope-item {
			flex: 1 1 calc(50% - 20px);
			/* 2 products per row */
			max-width: calc(50% - 20px);
		}
	}

	@media (max-width: 576px) {
		.isotope-item {
			flex: 1 1 100%;
			/* 1 product per row on small screens */
			max-width: 100%;
		}
	}
</style>
</head>

<body class="animsition">

	<!-- Header -->
	<%-include('./layout/header')%>

	<!-- Product -->
	<div class=" m-t-23 p-b-140">
		<div class="container" style="padding: 0 15px; margin: 0 auto;">
			<h1 class="buy-everything">
				BUY EVERYTHI <span> I I I </span> ING
			</h1>
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="Shirts">
						Shirts
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="T-Shirts">
						T-Shirts
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="Jackets & Coats">
						Jackets & Coats
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="Trousers">
						Trousers
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="Jeans">
						Jeans
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="Shorts">
						Shorts
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="Belts & Braces">
						Belts & Braces
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="Sunglasses">
						Sunglasses
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="Wallets & Bags">
						Wallets & Bags
					</button>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Featured
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Popularity
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Average rating
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										Newness
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Price: Low to High
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Price: High to Low
									</a>
								</li>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										aA - zZ
									</a>
								</li>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										zZ - aA
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										All
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$0.00 - $999.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$1000.00 - $2999.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$3000.00 - $6999.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$7000.00 - $9999.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$10000.00+
									</a>
								</li>
							</ul>
						</div>
						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Availability
							</div>
							<ul>
								<li class="p-b-6">
									<a href="#" id="excludeOutOfStock" class="filter-link stext-106 trans-04 filter-link-active">
										Exclude Out of Stock
									</a>
								</li>
								<li class="p-b-6">
									<a href="#" id="includeOutOfStock" class="filter-link stext-106 trans-04">
										Include Out of Stock
									</a>
								</li>
							</ul>
						</div>


					</div>
				</div>
			</div>

			<div class="row isotope-grid ">
				<% products.forEach((product, index) => { %>
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item ">
					<!-- Make the entire block clickable -->
					<a href="/shop/product-detail/<%= product._id %>" class="block2-link">
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="<%= product.images[0] %>" alt="IMG-PRODUCT">
							</div>
							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l">
									<span class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										<%= product.name %>
									</span>
									<span class="stext-105 cl3">
										&#8377; <%= product.offerPrice %>
									</span>
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<span class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04" src="/users/images/icons/icon-heart-01.png" alt="ICON">
										<img class="icon-heart2 dis-block trans-04 ab-t-l" src="/users/images/icons/icon-heart-02.png" alt="ICON">
									</span>
								</div>
							</div>
						</div>
					</a>
				</div>
				<% }); %>
			</div>


			<!-- Load more -->
			<!-- <div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div> -->
		</div>
	</div>


	<!-- Footer -->
	<%- include('./layout/footer') %>


	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const filterLinks = document.querySelectorAll('.filter-link');
			const categoryButtons = document.querySelectorAll('.filter-tope-group button');
			const excludeOutOfStockButton = document.getElementById('excludeOutOfStock');
			const includeOutOfStockButton = document.getElementById('includeOutOfStock');

			let excludeOutOfStock = true; // Default to exclude out-of-stock products
			let activeCategory = "*"; // Default to show all products

			// Function to fetch filtered products based on all active criteria
			function fetchFilteredProducts() {
				const activeSort = document.querySelector('.filter-col1 .filter-link-active');
				const sortBy = activeSort ? activeSort.innerText.trim() : null;

				const activePrice = document.querySelector('.filter-col2 .filter-link-active');
				const priceRange = activePrice ? activePrice.innerText.trim() : null;

				fetch('/shop/filter', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							sortBy: sortBy,
							priceRange: priceRange,
							excludeOutOfStock: excludeOutOfStock,
							category: activeCategory
						})
					})
					.then(response => response.json())
					.then(data => renderProducts(data.products))
					.catch(error => console.error("Error fetching filtered products:", error));
			}

			// Render products into the grid container
			function renderProducts(products) {
				const productContainer = document.querySelector('.isotope-grid');
				productContainer.innerHTML = '';

				if(products.length === 0) {
					productContainer.innerHTML = `
                <div class="col-12 d-flex">
                    <p>No products found based on the selected filter.</p>
                </div>
            `;
				} else {
					products.forEach(product => {
						productContainer.innerHTML += `
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
                        <a href="/shop/product-detail/${product._id}" class="block2-link">
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="${product.images[0]}" alt="IMG-PRODUCT">
                                </div>
                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l">
                                        <span class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            ${product.name}
                                        </span>
                                        <span class="stext-105 cl3">
                                            &#8377; ${product.offerPrice}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                `;
					});
				}

				// Refresh Isotope layout
				const iso = new Isotope(productContainer, {
					itemSelector: '.isotope-item',
					layoutMode: 'fitRows'
				});
				iso.layout();
			}

			// Event listeners for category buttons
			categoryButtons.forEach(button => {
				button.addEventListener('click', function() {
					activeCategory = this.getAttribute('data-filter');
					categoryButtons.forEach(btn => btn.classList.remove('how-active1'));
					this.classList.add('how-active1');
					fetchFilteredProducts();
				});
			});

			// Event listeners for "Sort By" and "Price" filters
			filterLinks.forEach(link => {
				link.addEventListener('click', function(e) {
					e.preventDefault();
					this.closest('ul').querySelectorAll('.filter-link').forEach(l => l.classList.remove('filter-link-active'));
					this.classList.add('filter-link-active');
					fetchFilteredProducts();
				});
			});

			// Availability filter logic
			excludeOutOfStockButton.addEventListener('click', function(e) {
				e.preventDefault();
				toggleAvailabilityFilter(true);
			});

			includeOutOfStockButton.addEventListener('click', function(e) {
				e.preventDefault();
				toggleAvailabilityFilter(false);
			});

			function toggleAvailabilityFilter(isExclude) {
				excludeOutOfStock = isExclude;
				excludeOutOfStockButton.classList.toggle('filter-link-active', isExclude);
				includeOutOfStockButton.classList.toggle('filter-link-active', !isExclude);
				fetchFilteredProducts();
			}

			// Initial fetch of all products
			fetchFilteredProducts();
			const iso = new Isotope(productContainer, {
				itemSelector: '.isotope-item',
				layoutMode: 'fitRows'
			});
			iso.layout();
		});
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const searchInput = document.querySelector("input[name='search-product']");
			const productContainer = document.querySelector(".isotope-grid");
			const excludeOutOfStockButton = document.getElementById('excludeOutOfStock');
			const includeOutOfStockButton = document.getElementById('includeOutOfStock');

			let excludeOutOfStock = true;

			// Function to fetch search results
			function fetchSearchResults(searchTerm) {
				fetch('/shop/search', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							search: searchTerm,
							excludeOutOfStock: excludeOutOfStock
						})
					})
					.then(response => response.json())
					.then(data => {
						productContainer.innerHTML = ''; // Clear current products

						// Check if results are found
						if(data.products.length === 0) {
							productContainer.innerHTML = `
                            <div class="col-12 d-flex">
                                <p>No products found matching your search.</p>
                            </div>
                        `;
						} else {
							// Render products dynamically
							data.products.forEach(product => {
								productContainer.innerHTML += `
                                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
                                    <a href="/shop/product-detail/${product._id}" class="block2-link">
                                        <div class="block2">
                                            <div class="block2-pic hov-img0">
                                                <img src="${product.images[0]}" alt="IMG-PRODUCT">
                                            </div>
                                            <div class="block2-txt flex-w flex-t p-t-14">
                                                <div class="block2-txt-child1 flex-col-l">
                                                    <span class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        ${product.name}
                                                    </span>
                                                    <span class="stext-105 cl3">
                                                        &#8377; ${product.offerPrice}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            `;
							});
						}
						// Reinitialize or refresh Isotope layout
						const iso = new Isotope(productContainer, {
							itemSelector: '.isotope-item',
							layoutMode: 'fitRows'
						});
						iso.layout(); // Force Isotope to recalculate layout
					})
					.catch(error => console.error("Error fetching search results:", error));
			}

			// Event listener for the search input
			searchInput.addEventListener("input", function() {
				const searchTerm = searchInput.value.trim();
				fetchSearchResults(searchTerm); // Call function to fetch search results
			});

			excludeOutOfStockButton.addEventListener('click', function(e) {
				e.preventDefault();
				excludeOutOfStock = true;
				excludeOutOfStockButton.classList.add('filter-link-active');
				includeOutOfStockButton.classList.remove('filter-link-active');
				fetchSearchResults(searchInput.value.trim());
			});

			includeOutOfStockButton.addEventListener('click', function(e) {
				e.preventDefault();
				excludeOutOfStock = false;
				includeOutOfStockButton.classList.add('filter-link-active');
				excludeOutOfStockButton.classList.remove('filter-link-active');
				fetchSearchResults(searchInput.value.trim());
			});
		});
	</script>





	<!--===============================================================================================-->
	<script src="/users/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/users/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/users/vendor/bootstrap/js/popper.js"></script>
	<script src="/users/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/users/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function() {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="/users/vendor/daterangepicker/moment.min.js"></script>
	<script src="/users/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/users/vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="/users/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="/users/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="/users/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="/users/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function() {
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function() {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function() {
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function() {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function() {
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function() {
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="/users/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function() {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function() {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="/users/js/main.js"></script>

</body>

</html>